

.resume-section {
    margin: 50px auto 0;
    width: 90%;
    border: 2px solid rgb(245, 242, 242);
    border-radius: 20px;
    background-color: rgb(241, 229, 194);
    height: auto;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
}

.resume-section ol{
    font-weight: bold;
}

.resume-section ul{
    list-style: disc;
}

.resume-section ol .project-item p{
    font-weight: normal;
}

.resume-section ol > li{
   margin-bottom: 50px;
}

.resume-section-paragraph {
    margin: 7px;
    font-size: 1.1rem;
    line-height: 1.6;
    
}

.resume-project-name {
    font-weight: bolder;
}

.indented-resume-section-paragraph {
    margin: 7px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: 200px;
}

.indented-title {
    margin-left: 50px;
    font-weight: bolder;
}

.resume-section-title {
    margin: 7px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.resume-section-title-header-container {
    height: 2.2rem;
    background-color: rgb(192, 201, 162);
    border-radius: 20px 20px 0 0;
    margin: 0;
    padding: 0;
}

.resume-section-title-header-container h3 {
    text-align: center;
}

.experience-languages-container {
    display: inline-block;
    margin-left: 10%;
}

.experience-languages-container p{
    font-weight: bold;
}

.experience-years-container {
    display: inline-block;
    margin-left: 52%;
}


#fluent {
    margin-left: 300px;
}

#others {
    margin-left: 296px;
}

#frameworks {
    margin-left: 244px;
}

#tools {
    margin-left: 357px;
    font-weight: normal;
    font-size: 1.1rem;
}

#operating-systems {
    margin-left: 218px;
    font-weight: normal;
    font-size: 1.1rem;
}

#asu-date {
    margin-left: 500px;
}

#wscc-date {
    margin-left: 403px;
}



/*media*/
@media only screen and (max-width: 1270px) {
    #asu-date {
        margin-left: 35%;
    }
    
    #wscc-date {
        margin-left: 23%;
    }
}

@media only screen and (max-width: 950px) {
    .resume-section {
        width: 90%;
    }
    .resume-section-title-header-container {
        height: auto;
    }
}


/*tablet size*/
@media only screen and (max-width: 770px) {
    .indented-title {
        margin-left: 2%;
    }
    #asu-date {
        margin-left: 35%;
    }
    
    #wscc-date {
        margin-left: 21%;
    }

    #fluent {
        margin-left: 22%;
    }
    
    #others {
        margin-left: 21.5%;
    }
    
    #frameworks {
        margin-left: 13.5%;
    }
    
    #tools {
        margin-left: 25%;
    }
    
    #operating-systems {
        margin-left: 4%;
    }

    /*experience section*/
    
    .experience-years-container {
        margin-left: 19%;
    }

    .experience-languages-container {
        margin-left: 0;
    }
    .project-item a {
        float: left;
        width: auto;
        height: auto;
    }
}