.heading-container {
    display: inline-block;
    margin: 90px 19% 0;
}

.heading-container h1{
    display: block;
    
}

hr {
    display: inline-block;
    width: 61%;
    margin: 0 19%;
    border: 5px solid gray;
    border-radius: 5px;
    
}